*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}


.grid{
    display: block;
    padding: 60px;
    display: grid;
    grid-gap: 8px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .col{
        background-color: #30437a;
        margin-bottom: 8px;
        padding: 8px;
        max-width: 80%;
        height: fit-content;
      }
  }




//   testt
